{% extends "plain.html" %}
{% block title %}login{% endblock %}

{% block content %}
<div id="hero">
    <h1>www.greenthink-library.com</h1>

    <p>
        <strong>www.greenthink-library.com</strong> is AWESOME!
    </p>
</div>

<div id="invite">
    {% if not posted %}
    <p>
        Enter username:
    </p>

    <div id="email">
        <form method="POST" action="/account/login">
            email: 
            <input type="text" name="username">
            <button id="submit">submit</button>
        </form>
    </div>
    {% endif %}

    {% if posted %}
        logging in...
    {% endif %}
</div>
{% endblock %}