recursive-include Gthnk/Views/Administration/templates *
recursive-include Gthnk/Views/Administration/static *
recursive-include Gthnk/Views/Frontend/templates *
recursive-include Gthnk/Views/Frontend/static *
