{% extends 'admin/master.html' %}
{% block body %}
    <h3>Snapshots</h3>

    <p>Total: {{ Models.Snapshot.query.count() }}</p>

    <p>Processed: {{ Models.Snapshot.query.filter_by(processed=True).count() }}</p>

    <h3>Articles</h3>

    <p>Total: {{ Models.Article.query.count() }}</p>

    <p>Processed: {{ Models.Article.query.filter_by(processed=True).count() }}</p>

    <p>Undownloaded: {{ Models.Article.query.filter_by(downloaded=False).count() }}</p>

    <p>Unparsable-A: {{ Models.Article.query.filter_by(downloaded=True, processed=None).count() }}</p>
    <p>Unparsable-B: {{ Models.Article.query.filter_by(downloaded=True, processed=False).count() }}</p>

{% endblock %}