<html>
<head>
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <title>Life Dashboard</title>
</head>
<body>
    <div id="window">
        <div id="content">
            <div id="quick">
                <form id="search" action="http://localhost:1620/search">
                    <input type="text" name="q" autofocus/>
                    <input type="submit" value="search">
                </form>
                <a id="outside-in" href="http://outside-in.baldwin.saperea.com/">Outside Conditions</a>
            </div>

            <!-- major widgets -->

            <div id="recent">
                <h1>recent</h1>
                <ul id="recent_list"></ul>
            </div>

            <div id="todo">
                <h1>todo (<span class="ctl" id="todo_ctl">+</span>)</h1>
                <ul id="todo_list"></ul>
            </div>

            <!-- minor widgets -->

            <div id="themes">
                <h2>themes (<span class="ctl" id="themes_ctl">+</span>)</h2>
                <ul id="themes_list"></ul>
            </div>

            <div id="radar">
                <h2>radar (<span class="ctl" id="radar_ctl">+</span>)</h2>
                <ul id="radar_list"></ul>
            </div>

            <div id="wanna">
                <h2>wanna (<span class="ctl" id="wanna_ctl">+</span>)</h2>
                <ul id="wanna_list"></ul>
            </div>

            <div id="ideas">
                <h2>ideas (<span class="ctl" id="ideas_ctl">+</span>)</h2>
                <ul id="ideas_list"></ul>
            </div>

            <div id="media">
                <h2>media (<span class="ctl" id="media_ctl">+</span>)</h2>
                <ul id="media_list"></ul>
            </div>

            <div id="yesterday">
                <h2>yesterday (<span class="ctl" id="yesterday_ctl">+</span>)</h2>
                <ul id="yesterday_list"></ul>
            </div>
        </div>
    </div>

    <script src="/static/jquery-1.10.2.min.js"></script>
    <script>
        var lists = {{ lists }};
        var todos = {{ todo }};
        var files = {{ work }};
    </script>
    <script src="/static/dashboard.js"></script>
</body>
</html>
