{% extends 'admin/model/edit.html' %}

{% block body %}
    {% block model_menu_bar %}
    <ul class="nav nav-tabs">
        <li>
            <a href="{{ url_for('.index_view') }}"><i class="icon-list-alt"></i> {{ _gettext('List') }}</a>
        </li>
        <li class="active">
            <a href="{{ url_for('.index_view') }}"><i class="icon-eye-open"></i> Article</a>
        </li>
    </ul>
    {% endblock %}

    {% block model_content %}
        <h2>article</h2>

        <ul>
            <li>Source: <b>{{ article.source.name }}</b></li>
            <li>Title: <b>{{ article.title }}</b></li>
            <li>Author: <b>{{ article.author }}</b></li>
            <li>Time: <b>{{ article.timestamp }}</b></li>
            <li>URL: <b>{{ article.url }}</b></li>
            <li>Exposure: <b>{{ listing_count * 15 }}</b> minutes</li>
        </ul>

        <h3>content</h3>

        {{ article.content|safe }}

        <h3>comments</h3>

        <ul>
        {% for comment in article.comments %}
            <li>
            <b><a href="{{ url_for('.comment_view', id=comment.id) }}">{{ comment.author }}</a></b> - 
            {{ comment.content }}

            </li>
        {% endfor %}
        </ul>

        <h3>LIWC</h3>

        <pre>
            {{ liwc_json }}
        </pre>
    {% endblock %}

{% endblock %}
