{% extends 'admin/model/edit.html' %}

{% block body %}
    {% block model_menu_bar %}
    <ul class="nav nav-tabs">
        <li>
            <a href="{{ url_for('.index_view') }}"><i class="icon-list-alt"></i> {{ _gettext('List') }}</a>
        </li>

        <li>
            <a href="{{ url_for('.article_view', id=comment.article.id) }}"><i class="icon-eye-open"></i> Article</a>
        </li>

        <li class="active">
            <a href="{{ url_for('.index_view') }}"><i class="icon-eye-open"></i> Comment</a>
        </li>
    </ul>
    {% endblock %}

    {% block model_content %}
        <h2>comment</h2>

        <ul>
            <li>Author: <b>{{ comment.author }}</b></li>
            <li>Time: <b>{{ comment.timestamp }}</b></li>
            <li>Article: <b><a href="{{ url_for('.article_view', id=comment.article.id) }}">{{ comment.article.title }}</a></b></li>
        </ul>

        <h3>content</h3>

        {{ comment.content|safe }}

        <h3>LIWC</h3>

        <pre>
            {{ liwc_json }}
        </pre>
    {% endblock %}

{% endblock %}
