{% set current_page = current_page|default('index') %}

<nav class="navbar navbar-expand-sm navbar-themed sticky-top">
    <a class="navbar-brand" href="{{ url_for('gthnk.index') }}">gthnk</a>

    {% if current_user.is_authenticated %}

        {% if current_page == 'results-list' or current_page == 'note-view' or current_page == 'day-view' or current_page == 'config-view' %}

            <a class="nav-item nav-link px-1 text-secondary" href="javascript:window.history.back();" title="back"><i class="fas fa-caret-square-left"></i></a>
            
        {% endif %}

        {% if current_page == 'day-view' %}

            {% if day %}
                {% if day.yesterday() %}
                    <a class="nav-item nav-link px-1 text-secondary" href="{{ url_for('day.day_view', date=day.yesterday().date) }}" title="previous day"><i class="fas fa-backward"></i></a>
                {% else %}
                    <a class="nav-item nav-link px-1 text-secondary" href="javascript:void(0)" title="no past days"><i class="fas fa-stop"></i></a>
                {% endif %}
            {% else %}
                <a class="nav-item nav-link px-1 text-secondary" href="{{ url_for('day.latest_view') }}" title="latest"><i class="fas fa-backward"></i></a>
            {% endif %}

            {% if day %} 
                {%if day.tomorrow() %}
                    <a class="nav-item nav-link px-1 text-secondary" href="{{ url_for('day.day_view', date=day.tomorrow().date) }}" title="next day"><i class="fas fa-forward"></i></a>
                {% else %}
                    {# <a class="nav-item nav-link px-1 text-secondary" href="javascript:void(0)" title="no further days"><i class="fas fa-stop"></i></a> #}
                {% endif %}
            {% else %}
                {# <a class="nav-item nav-link px-1 text-secondary" href="javascript:void(0)" title="no further days"><i class="fas fa-stop"></i></a> #}
            {% endif %}
            
        {% endif %}

    <a class="nav-item nav-link px-1 text-secondary" href="{{ url_for('day.buffer_view') }}" title="live journal"><i class="fas fa-fast-forward"></i></a>

    {% if current_page == 'day-view' %}
        <a class="nav-item nav-link px-1 text-secondary" id="calendar_button" href="javascript:void(0)" title="go to day"><i class="far fa-calendar-alt"></i></a>
    {% endif %}

    {% endif %}

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent2"
        aria-controls="navbarSupportedContent2" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    {% if current_user.is_authenticated %}
    <div class="collapse navbar-collapse" id="navbarSupportedContent2">

        <ul class="navbar-nav ml-md-auto">

            {% if current_page != 'index' %}
            <form class="nav-item form-inline" method="GET" action="/search">
                <div class="input-group">
                    <input class="form-control" type="search" name="q" placeholder="Search" aria-label="Search">
                    <div class="input-group-append">
                        <button class="btn btn-outline-success" type="submit"><i class="fas fa-search"></i></button>
                    </div>
                </div>
            </form>
            {% endif %}

            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('gthnk.note_view') }}" title="new entry"><i class="far fa-edit"></i></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('gthnk.refresh') }}" title="refresh buffers"><i class="fas fa-sync"></i></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="javascript:toggle_darkmode();" title="dark mode"><i class="far fa-lightbulb"></i></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('gthnk.config_view') }}" title="configuration"><i class="fas fa-info-circle"></i></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/logout" title="logout"><i class="fas fa-power-off"></i></a>
            </li>

        </ul>

        {% else %}

        {# <ul class="navbar-nav ml-md-auto">
            <li class="nav-item">
                <a class="nav-link" href="/login" title="log in"><i class="fas fa-user"></i></a>
            </li>
        </ul> #}

    </div>
    {% endif %}

</nav>
