<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ url_for('.index') }}">Gthnk</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {# <li class="nav-item">
                <a class="nav-link" href="/help"><i class="fas fa-question-circle"></i> Help</a>
            </li> #}

            {% if current_user.is_authenticated %}

            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('.latest_view') }}"><i class="far fa-clock"></i> Latest</a>
            </li>

            {% block extra_nav %}{% endblock %}

            {% endif %}
        </ul>

        {% if current_user.is_authenticated %}
        <ul class="navbar-nav ml-md-auto">
            <li class="nav-item">
                <a class="nav-link" href="/logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
            </li>

            {# <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form> #}
        </ul>
        {% endif %}

    </div>
</nav>
