{% set current_page = current_page|default('index') %}

<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
    <a class="navbar-brand" href="{{ url_for('.index') }}">Gthnk</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {# <li class="nav-item">
                <a class="nav-link" href="/help"><i class="fas fa-question-circle"></i> Help</a>
            </li> #}

            {% if current_user.is_authenticated %}

                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('.latest_view') }}"><i class="far fa-clock"></i></a>
                </li>

                {% if current_page == 'day-view' %}
                    <li class="nav-item">
                    {% if day and day.yesterday() %}
                        <a class="nav-link" href="{{ url_for('.day_view', date=day.yesterday().date) }}" title="previous"><i class="fas fa-chevron-left"></i></a>
                    {% else %}
                        <a class="nav-link" href="javascript:void(0)" title="no past days"><i class="fas fa-stop"></i></a>
                    {% endif %}
                    </li>

                    <li class="nav-item">
                    {% if day and day.tomorrow() %}
                        <a class="nav-link" href="{{ url_for('.day_view', date=day.tomorrow().date) }}" title="previous"><i class="fas fa-chevron-right"></i></a>
                    {% else %}
                        <a class="nav-link" href="javascript:void(0)" title="no further days"><i class="fas fa-stop"></i></a>
                    {% endif %}
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" id="calendar_button" href="javascript:void(0)" title="go to day"><i class="far fa-calendar-alt"></i></a>
                    </li>

                    {# <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('.download', date=day.date) }}" title="download"><i class="fas fa-file-download"></i></a>
                    </li> #}
                {% endif %}

            {% endif %}
        </ul>

        {% if current_user.is_authenticated %}
        <ul class="navbar-nav ml-md-auto">

            {% if current_page != 'index' %}
            <form class="nav-item form-inline my-2 my-sm-0" method="GET" action="/search">
                <div class="input-group">
                    <input class="form-control" type="search" name="q" placeholder="Search" aria-label="Search">
                    <div class="input-group-append">
                        <button class="btn btn-outline-success btn-sm my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
                    </div>
                </div>
            </form>
            {% endif %}

            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('.refresh') }}" title="refresh"><i class="fas fa-sync"></i></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/logout" title="logout"><i class="fas fa-power-off"></i></a>
            </li>

        </ul>

        {% else %}

        <ul class="navbar-nav ml-md-auto">
            <li class="nav-item">
                <a class="nav-link" href="/login" title="log in"><i class="fas fa-user"></i></a>
            </li>
        </ul>

        {% endif %}

    </div>
</nav>
