<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.gthink.dashboard</string>
	<key>Program</key>
    	<string>/Users/idm/.virtualenvs/greenthink/bin/dashboard.sh</string>
	<key>StartCalendarInterval</key>
	<dict>
		<key>Hour</key>
		<integer>9</integer>
		<key>Minute</key>
		<integer>0</integer>
	</dict>
	<key>EnvironmentVariables</key>
    <dict>
		<key>SETTINGS</key>
		<string>/Users/idm/.gt/greenthink.conf</string>
    </dict>
</dict>
</plist>
