<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.gthnk.server</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>SETTINGS</key>
        <string>/Users/idm/.gt/greenthink.conf</string>
    </dict>
    <key>Program</key>
	<string>/Users/idm/.virtualenvs/greenthink/bin/runserver.py</string>
    <key>KeepAlive</key>
    <true/>
    <key>RunAtLoad</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/var/lib/greenthink-library/launchd.out.log</string>
    <key>StandardErrorPath</key>
    <string>/var/lib/greenthink-library/launchd.err.log</string>
</dict>
</plist>
