<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
At bootup, launch gthnk server to listen on http://127.0.0.1:1620/
-->
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.gthnk.server</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>SETTINGS</key>
        <string>{{ home_directory }}/Library/Gthnk/gthnk.conf</string>
        <key>PATH</key>
        <string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    </dict>
    <key>StandardOutPath</key>
    <string>{{ home_directory }}/Library/Gthnk/launchd.out.log</string>
    <key>StandardErrorPath</key>
    <string>{{ home_directory }}/Library/Gthnk/launchd.err.log</string>
    <key>Program</key>
	<string>{{ home_directory }}/.virtualenvs/gthnk/bin/runserver.py</string>
    <key>KeepAlive</key>
    <true/>
    <key>RunAtLoad</key>
    <true/>
</dict>
</plist>
