{% extends "shared/base.html.j2" %}

{% block content %}

{% if not current_user.is_authenticated %}

<div class="jumbotron">
    <h1 class="display-4">Gthnk</h1>

    <p class="lead">
        Gthnk is your thinking companion.
    </p>

    <a href="/login" type="button" class="btn btn-primary btn-lg">Log in <i class="fas fa-chevron-right"></i></a>
</div>

{% else %}

  <div class="container">

    <p class="text-center mt-5">Gthnk</p>

    <div class="row text-center">
      <div class="col-md-12">
        <p>
          <form method="GET" action="/search" class="search-form">
            <input type="text" name="q" value="" placeholder="Search" autofocus>
            <input type="submit" name="submit" value="submit">
          </form>
        </p>
      </div>
    </div>

  </div>

{% endif %}

{% endblock %}
