{% extends "shared/base.html.j2" %}

{% set current_page = 'index' %}

{% block content %}

{% if not current_user.is_authenticated %}

<div class="jumbotron">
    <h1 class="display-4">Gthnk</h1>

    <p class="lead">
        Gthnk is your thinking companion.
    </p>

    <a href="/login" type="button" class="btn btn-primary btn-lg">Log in <i class="fas fa-chevron-right"></i></a>
</div>

{% else %}

  {# <div class="container-fluid bg-dark"> #}
  <div class="container-fluid">

    <p class="text-center mt-5">
      <img id="gthnk-logo" src="/static/gthnk-logo.png">
    </p>

    <div class="row">
      <div class="col-md-4"></div>

      <div class="col-md-4">

        <form class="my-2 my-sm-0" method="GET" action="/search" class="search-form">
          <div class="input-group justify-content-center">
            <input class="form-control " type="text" name="q" value="" placeholder="Search" autofocus>
            <div class="input-group-append">
              <button type="submit" class="btn btn-sm btn-secondary">Submit</button>
            </div>
          </div>
        </form>

      </div>

      <div class="col-md-4"></div>
    </div>

  </div>

{% endif %}

<script>
// run dark mode again to ensure the index image is correct
set_darkmode(localStorage.getItem("dark-mode"));
</script>

{% endblock %}
