{% extends "shared/base.html.j2" %}

{% from "shared/_formhelpers.html.j2" import render_field_nolabel %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4"><i class="fas fa-key"></i> Access Code</h1>

    <p class="lead">
        Please enter your <b>Access code</b> then press <b>Login</b>.
    </p>

    <form method="POST" action="{{ url_for('.login', next=next_page) }}">
        {{ form.hidden_tag() }}
        {{ render_field_nolabel(form.access_code, autofocus=true) }}
        {{ form.submit_button(class_="btn btn-primary btn-lg") }}
    </form>
</div>

{% endblock %}