{% extends "shared/base.html.j2" %}

{% from "shared/_formhelpers.html.j2" import render_field %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4"><i class="fas fa-key"></i> Log in</h1>

    <p class="lead">
        Please enter your <b>Username</b> and <b>Password</b>.
    </p>

    <form method="POST" action="{{ url_for('auth.login') }}">
        {{ form.hidden_tag() }}
        {{ render_field(form.username, autofocus=true) }}
        {{ render_field(form.password) }}
        {{ form.submit_button(class_="btn btn-primary btn-lg") }}
    </form>
</div>

{% endblock %}