{% extends 'base.html.j2' -%}

{% set current_page = 'day-view' -%}

{% block navigation -%}
  <a id="link-yesterday" class="nav-item nav-link px-1" href="javascript:go_to_yesterday();" title="previous day"><i class="fas fa-backward"></i></a>
  <a id="link-tomorrow" class="nav-item nav-link px-1" href="javascript:go_to_tomorrow();" title="next day"><i class="fas fa-forward"></i></a>
  <a id="link-live" class="nav-item nav-link px-1" href="javascript:update_day('live');" title="live journal"><i class="fas fa-fast-forward"></i></a>
{% endblock -%}

{% block content -%}
  <div id="backdrop" class="container">
    <div class="row">
      <div class="col-xl-1"></div>
      <div class="col-xl-10">
        <a id="entries_anchor" name="entries_anchor"></a>
        <div class="gthnk-card" id="day-of-week"></div>
        <div class="gthnk-card" id="entries"></div>
      </div>
      <div class="col-xl-1"></div>
    </div>
  </div>

  <script src="{{ url_for('.static', filename='images.js') }}"></script>
  <script src="{{ url_for('.static', filename='dynamic-day.js') }}"></script>
  <script>
    update_day("{{ date }}");
  </script>
{% endblock -%}
