{% extends 'admin/model/edit.html' %}

{% block body %}
    {% block model_menu_bar %}
    <ul class="nav nav-tabs">
        <li class="active">
            <a href="{{ url_for('.index_view') }}"><i class="icon-eye-open"></i> {{ item_list.name }}</a>
        </li>
        <li>
        	<a href="{{ url_for('itemlistview.edit_view', id=item_list.id) }}"><i class="icon-wrench"></i> Edit</a>
        </li>
    </ul>
    {% endblock %}

    {% block model_content %}
<div style="max-width: 50em; margin: 0 auto; font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;">
{% filter markdown %}
{{ item_list.content }}
{% endfilter %}
</div>

    {% endblock %}

{% endblock %}
