{% extends 'shared/base.html.j2' %}

{% set current_page = 'day-view' %}

{# Enable or disable attachments here#}
{% set attachments_enabled = False %}

{% block content %}

<div id="backdrop" class="container">

  <div class="row">
    {% if attachments_enabled %}
    <div class="col-xl-9">
    {% else %}
    <div class="col-xl-1"></div>
    <div class="col-xl-10">
    {% endif %}

      <a id="entries_anchor" name="entries_anchor"></a>

      <div class="gthnk-card" id="entries">
        <p id="day-of-week">{% if is_buffer %}(buffer){% else %}{{ day_of_week }}{% endif %}</p>
        {{ day_str|safe }}
      </div>

    </div>

    {% if attachments_enabled %}
    <div class="col-xl-3">
      <!-- attachments -->
      {% include "attachments/page-gutter.html.j2" %}
    </div>
    {% else %}
    <div class="col-xl-1"></div>
    {% endif %}

  </div>

  {% if todo_items %}
  <div class="row">
    <div class="col-xl-1"></div>
    <div class="col-xl-10">
      <div class="gthnk-card" id="agenda">
        <h4>Agenda</h4>
        <ul>
        {% for checked, item in todo_items %}
          <li>
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="{{ item|slugify }}" disabled {% if checked %}checked="checked"{% endif %}>
              <label class="custom-control-label" for="{{ item|slugify }}">{{ item }}</label>
            </div>
          </li>
        {% endfor %}
        </ul>
      </div>
    </div>
    <div class="col-xl-1"></div>
  </div>
  {% endif %}

</div>

<script>
  var today = "{{ date }}";
</script>

<!-- inter-day navigation -->
<script>
  {% if day and day.yesterday %}
  var yesterday = "{{day.yesterday.day_id}}";
  {% else %}
  var yesterday = null;
  {% endif %}

  {% if day and day.tomorrow %}
  var tomorrow = "{{day.tomorrow.day_id}}";
  {% else %}
  var tomorrow = null;
  {% endif %}
</script>

{% if is_buffer %}
<script src="/static/js/gthnk-live-update.js"></script>
{% endif %}

<script src="/static/js/gthnk-attachments.js"></script>
<script src="/static/js/gthnk-images.js"></script>
<script src="/static/js/gthnk-navigate.js"></script>

{% endblock %}
