{% extends 'shared/base.html.j2' %}

{% set current_page = 'day-view' %}

{% block content %}

<div id="backdrop" class="container">

  <div class="row">
    <div class="col-xl-1"></div>
    <div class="col-xl-10">
      <a id="entries_anchor" name="entries_anchor"></a>

      <div id="entries">
        <p id="day-of-week">{{day_of_week}}</p>
        {{ day_str|safe }}
      </div>
    </div>
    <div class="col-xl-1"></div>
  </div>

  {% if todo_items %}
  <div class="row">
    <div class="col-xl-1"></div>
    <div class="col-xl-10">
      <div id="agenda">
        <h4>Agenda</h4>
        <ul>
        {% for item in todo_items %}
          <li>
            <input class="form-check-input" type="checkbox"/> {{ item }}
          </li>
        {% endfor %}
        </ul>
      </div>
    </div>
    <div class="col-xl-1"></div>
  </div>
  {% endif %}

</div>

<script>
  var today = "{{ date }}";
  // init_filedrag();
</script>
<script src="/static/js/gthnk-explorer.js"></script>

{% endblock %}

