<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
At 12:03 AM every day, scan the journal.txt and rotate out any old files.
-->
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.gthnk.rotate</string>
	<key>EnvironmentVariables</key>
    <dict>
		<key>SETTINGS</key>
		<string>{{ home_directory }}/Library/Gthnk/gthnk.conf</string>
    </dict>
    <key>StandardOutPath</key>
    <string>{{ home_directory }}/Library/Gthnk/launchd.out.log</string>
    <key>StandardErrorPath</key>
    <string>{{ home_directory }}/Library/Gthnk/launchd.err.log</string>
    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>0</integer>
        <key>Minute</key>
        <integer>1</integer>
    </dict>
	<key>Program</key>
	<string>{{ home_directory }}/.virtualenvs/gthnk/bin/gthnk-rotate.py</string>
</dict>
</plist>
