############
# gthnk configuration file
############

############
# The following settings may be changed to match your system
############

# INPUT_FILES is a list of text files to read journal entries from.
# This can be a comma-separated list of files (no spaces between commas)
INPUT_FILES = "{{ home_directory|replace("\\", "\\\\") }}\\Desktop\\journal.txt"

# BACKUP_PATH specifies where to store a copy of each text file imported.
BACKUP_PATH = "{{ app_data|replace("\\", "\\\\") }}\\Gthnk\\backup"

# EXPORT_PATH specifies where to write a static files for long-term storage.
EXPORT_PATH = "{{ app_data|replace("\\", "\\\\") }}\\Gthnk\\export"

############
# The rest of this file does not need to change
############

PROJECT_NAME = "gthnk"
PORT = 1620
LOG = "{{ app_data|replace("\\", "\\\\") }}\\Gthnk\\gthnk.log"
SECRET_KEY = {{ secret_key }}

BASE_URL = "http://localhost"

# LOG_LEVEL = "DEBUG"
DEBUG = False
