  <div id="page_list">
    <div id="pages_scroller">
    <div id="page_wrapper">

    <a class="scroll top_of_page" id="journal_scroll" href="#entries_anchor" >Journal</a>

    <form id="upload" action="{{ url_for('gthnk.upload_file', date=day.date) }}" method=post enctype=multipart/form-data>

        <fieldset>

        <input type="hidden" id="MAX_FILE_SIZE" name="MAX_FILE_SIZE" value="300000" />

        <div>
            <input type="file" id="fileselect" name="fileselect[]" multiple="multiple" />
            <div id="filedrag">attachments</div>
        </div>

        <div id="submitbutton">
            <button type="submit">Upload Files</button>
        </div>

        </fieldset>

    </form>

    <ul>
        {% for page in day.pages %}
        <li>
            <a class="scroll" href="#{{ page.sequence }}">
                <img src="{{ url_for('gthnk.thumbnail', date=day.date, sequence=page.sequence) }}">
            </a>
        </li>
        {% endfor %}
    </ul>
    </div>

</div>
