#content {
    width: 49em;
    margin: 0px auto;
}

#content_column {
    width: 35em;
}

#button_column {
    width: 14em;
}

.widget {
    width: 35em;
}

.time {
    display: inline-block;
    width: 5.5em;
}

.ctl {
    /*color: blue;
    text-decoration: underline;*/
    cursor: pointer;
}

.expando {
    display: none;
}

#recent .expando {
    display: block;
}

.col {
    float: right;
}

#recent li, #todo li {
    margin: 0.5em 0em;
}

li {
    list-style-type: square;
}

ul {
    padding-left: 1.1em;
}

#search {
    float: left;
    margin-right: 1em;
}

#quick {
    margin-bottom: 1.5em;
}

h1 {
    margin-top: 0em;
}

#yesterday_content, #log_list {
    font-family: monospace;
}

h2 {
    width: 7em;
    padding: 0.5em;
    margin: 0em;
}

h2:hover {
    background: rgb(220, 220, 220);
}

.selected {
    background: rgb(240, 240, 240);
}