#content {
    width: 49em;
    margin: 0px auto;
}

#card_column {
    width: 35em;
    margin-top: 1em;
}

#button_column {
    width: 14em;
}

.widget {
    width: 42em;
}

.time {
    display: inline-block;
    width: 5.5em;
}

.ctl {
    /*color: blue;
    text-decoration: underline;*/
    cursor: pointer;
}

.expando {
    display: none;
}

.col {
    float: right;
}

li {
    list-style-type: square;
    margin-bottom: 1em;
}

ul {
    padding-left: 1.1em;
    margin: 0;
}

#quick {
    padding-top: 1em;
    padding-left: 0.7em;
}

#yesterday, #log {
    font-family: monospace;
}

h2 {
    width: 7em;
    padding: 0.5em;
    margin: 0em;
    border-bottom: 1px solid gray;
}

h2:hover {
    background: rgb(220, 220, 220);
}

.selected {
    background: rgb(240, 240, 240);
}

/* spinner: http://24ways.org/2009/css-animations/ */

#spinner {
    position: absolute;
    top: 20%;
    left: 50%;
    margin: -100px 0 0 -100px;
    height: 200px;
    width: 200px;
    text-indent: 250px;
    white-space: nowrap;
    overflow: hidden;
    -webkit-mask-image: url(/static/spinner.png);
    background-color: #000;
    -webkit-animation-name: spinnerRotate;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

@-webkit-keyframes spinnerRotate {
    from {
        -webkit-transform:rotate(0deg);
    }
    to {
        -webkit-transform:rotate(360deg);
    }
}
