{% extends 'admin/model/edit.html' %}

{% block main_menu %}
{{ super() }}

<ul class="nav nav-tabs">
    <!--<li>
        <a href="{{ url_for('.index_view') }}"><i class="icon-list-alt"></i> {{ _gettext('List') }}</a>
    </li>-->
    <!--<li class="active">
        <a href="{{ url_for('.index_view') }}"><i class="icon-eye-open"></i> Day</a>
    </li>-->
    <li>
        {% if day.yesterday() %}
            <a href="{{ url_for('.day_view', date=day.yesterday().date) }}"><i class="icon-arrow-left"></i> {{day.yesterday().date}}</a>
        {% else %}
            <a href="javascript:void(0)"><i class="icon-remove"></i> earliest</a>
        {% endif %}
    </li>
    <li>
        {% if day.tomorrow() %}
            <a href="{{ url_for('.day_view', date=day.tomorrow().date) }}"><i class="icon-arrow-right"></i> {{day.tomorrow().date}}</a>
        {% else %}
            <a href="javascript:void(0)"><i class="icon-remove"></i> latest</a>
        {% endif %}
    </li>
    <li>
        <a href="/admin/entryview/?sort=0&amp;flt0_2={{day.date}}+00%3A00&amp;flt1_3={{day.date}}+23%3A59"><i class="icon-wrench"></i> Edit</a>
    </li>
</ul>
{% endblock %}

{% block body %}

    {% block model_content %}

<div id="main_content">

<div id="entries_holder">
<div id="entries">
{% filter markdown %}
{{ day_str|safe }}
{% endfilter %}
</div>

<div id="pages_inline">
    {% for page in day.pages %}
    <div class="page_attachment">
        <a id="{{ page.sequence }}" name="{{ page.sequence }}"></a>
        <a href="{{ url_for('.full_pdf', date=day.date, sequence=page.sequence) }}">
            <img src="{{ url_for('.full_pdf', date=day.date, sequence=page.sequence) }}">
        </a>
    </div>
    {% endfor %}
</div>

</div>

<div id="page_list">
    <form id="upload" action="{{ url_for('.upload_file', date=day.date) }}" method=post enctype=multipart/form-data>

        <fieldset>

        <input type="hidden" id="MAX_FILE_SIZE" name="MAX_FILE_SIZE" value="300000" />

        <div>
            <input type="file" id="fileselect" name="fileselect[]" multiple="multiple" />
            <div id="filedrag">attachments</div>
        </div>

        <div id="submitbutton">
            <button type="submit">Upload Files</button>
        </div>

        </fieldset>

    </form>

    <ul>
    {% for page in day.pages %}
    <li>
        <a class="scroll" href="#{{ page.sequence }}">
            <img src="{{ url_for('.thumb_pdf', date=day.date, sequence=page.sequence) }}">
        </a>
    </li>
    {% endfor %}
    </ul>
</div>

</div>

    {% endblock %}

{% endblock %}

{% block head %}
{{ super() }}
<style type="text/css">
    {% include "journal_explorer/filedrag/filedrag.css" %}
</style>

{% endblock %}

{% block tail %}
{{ super() }}
<script>
    {% include "journal_explorer/filedrag/filedrag.js" %}
</script>

<script>
    // http://stackoverflow.com/questions/4198041/jquery-smooth-scroll-to-an-anchor/12714767#12714767
    $(".scroll").click(function(event){
         event.preventDefault();
         //calculate destination place
         var dest=0;
         if($(this.hash).offset().top > $(document).height()-$(window).height()){
              dest=$(document).height()-$(window).height();
         }else{
              dest=$(this.hash).offset().top-20;
         }
         //go to destination
         $('html,body').animate({scrollTop:dest}, 500,'swing');
     });
</script>
{% endblock %}

{% block footer %}{% endblock %}