{% extends 'admin/model/edit.html' %}

{% block body %}
    {% block model_menu_bar %}
    <ul class="nav nav-tabs">
        <!--<li>
            <a href="{{ url_for('.index_view') }}"><i class="icon-list-alt"></i> {{ _gettext('List') }}</a>
        </li>-->
        <!--<li class="active">
            <a href="{{ url_for('.index_view') }}"><i class="icon-eye-open"></i> Day</a>
        </li>-->
        <li>
            {% if day.yesterday() %}
                <a href="{{ url_for('.day_view', date=day.yesterday().date) }}"><i class="icon-arrow-left"></i> {{day.yesterday().date}}</a>
            {% else %}
                <a href="javascript:void(0)"><i class="icon-remove"></i> earliest</a>
            {% endif %}
        </li>
        <li>
            {% if day.tomorrow() %}
                <a href="{{ url_for('.day_view', date=day.tomorrow().date) }}"><i class="icon-arrow-right"></i> {{day.tomorrow().date}}</a>
            {% else %}
                <a href="javascript:void(0)"><i class="icon-remove"></i> latest</a>
            {% endif %}
        </li>
        <li>
            <a href="/admin/entryview/?sort=0&amp;flt0_2={{day.date}}+00%3A00&amp;flt1_3={{day.date}}+23%3A59"><i class="icon-wrench"></i> Edit</a>
        </li>
    </ul>
    {% endblock %}

    {% block model_content %}

<div id="page_list" style="width: 200px; float: right;">
    <form action="{{ url_for('.upload_file', date=day.date) }}" method=post enctype=multipart/form-data>
      <p><input type=file name=file></p>
      <p><input type=submit value=Upload></p>
    </form>

    <ul>
    {% for page in day.pages %}
    <li>
        <a href="{{ url_for('.full_pdf', date=day.date, sequence=page.sequence) }}">
            <img src="{{ url_for('.thumb_pdf', date=day.date, sequence=page.sequence) }}">
        </a>
    </li>
    {% endfor %}
    </ul>
</div>

<div style="max-width: 50em; margin: 0 auto; font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;">
{% filter markdown %}
{{ day_str|safe }}
{% endfilter %}
</div>

    {% endblock %}

{% endblock %}
