<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
At 9:00 AM every day, the dashboard opens up in the default browser to provide an overview.
-->
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.gthnk.dashboard</string>
	<key>EnvironmentVariables</key>
    <dict>
		<key>SETTINGS</key>
		<string>/Users/idm/.gthnk/gthnk.conf</string>
    </dict>
    <key>StandardOutPath</key>
    <string>/var/lib/gthnk/launchd.out.log</string>
    <key>StandardErrorPath</key>
    <string>/var/lib/gthnk/launchd.err.log</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/bin/open</string>
        <string>http://localhost:1620/admin/journal/latest</string>
    </array>
	<key>StartCalendarInterval</key>
	<dict>
		<key>Hour</key>
		<integer>9</integer>
		<key>Minute</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
