{% extends 'admin/model/list.html' %}

{% block body %}
    {% block model_menu_bar %}
    <ul class="nav nav-tabs">
        <li class="active">
            <a href="javascript:void(0)"><i class="icon-list-alt"></i> {{ _gettext('List') }}</a>
        </li>
        {% if admin_view.can_create %}
        <li>
            <a href="{{ url_for('.create_view', url=return_url) }}" title="{{ _gettext('Create new record') }}">
                <i class="icon-plus-sign"></i> {{ _gettext('Create') }}
            </a>
        </li>
        {% endif %}

        {% if filter_groups %}
        <li class="dropdown">
            {{ model_layout.filter_options() }}
        </li>
        {% endif %}

        {% if actions %}
        <li class="dropdown">
            {{ actionlib.dropdown(actions) }}
        </li>
        {% endif %}

        {% if search_supported %}
        <li>
            {{ model_layout.search_form() }}
        </li>
        {% endif %}
    </ul>
    {% endblock %}

    {% if filter_groups %}
        {{ model_layout.filter_form() }}
        <div class="clearfix"></div>
    {% endif %}

    {% block model_list_table %}

    <table class="table table-striped table-bordered model-list">
        <thead>
            <tr>
                {% block list_header scoped %}
                    {% if actions %}
                    <th class="span1">
                        <input type="checkbox" name="rowtoggle" class="action-rowtoggle" title="{{ _gettext('Select all records') }}" />
                    </th>
                    {% endif %}
                    {% block list_row_actions_header %}
                    <th class="span1" style="width:50px">&nbsp;</th>
                    {% endblock %}
                    {% set column = 0 %}
                    {% for c, name in list_columns %}
                    <th class="column-header">
                        {{ name }}
                    </th>
                    {% set column = column + 1 %}
                    {% endfor %}
                {% endblock %}
            </tr>
        </thead>
        {% for row in data %}
        <tr>
            {% block list_row scoped %}
                {% if actions %}
                <td>
                    <input type="checkbox" name="rowid" class="action-checkbox" value="{{ get_pk_value(row) }}" title="{{ _gettext('Select record') }}" />
                </td>
                {% else %}
                <td>&nbsp;</td>
                {% endif %}

                <td>
                    <a href="/admin/projects/{{row[1]}}/readme">{{row[1]}}</a>
                </td>

                <td>
                    {{row[0]}}
                </td>

            {% endblock %}
        </tr>
        {% endfor %}

    </table>

    {% endblock %}

{% endblock %}
