{% extends 'admin/model/edit.html' %}

{% block body %}
    {% block model_menu_bar %}
    <ul class="nav nav-tabs">
        <li>
            <a href="{{ url_for('.index_view') }}"><i class="icon-list-alt"></i> List</a>
        </li>
        <li class="active">
            <a href="{{ url_for('.index_view') }}"><i class="icon-eye-open"></i> {{ project_name }}</a>
        </li>
        <li>
            <a href="http://oxford.saperea.com/search?utf8=%E2%9C%93&amp;search={{project_name}}">Saperea GitLab</a>
        </li>
        <li>
            <a href="https://github.com/search?q=user%3Aiandennismiller+{{project_name}}">Public GitHub</a>
        </li>
        <li>
            <a href="http://stash.geneyouin.net:7990/projects">GYI Stash</a>
        </li>

    </ul>
    {% endblock %}

    {% block model_content %}
<div style="max-width: 50em; margin: 0 auto; font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;">
{% filter markdown %}
{{ buf|safe }}
{% endfilter %}
</div>

    {% endblock %}

{% endblock %}
