<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
At 9:00 AM every day, the dashboard opens up in the default browser to provide an overview.
-->
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.gthnk.review</string>
	<key>EnvironmentVariables</key>
    <dict>
		<key>SETTINGS</key>
		<string>{{ home_directory }}/Library/Gthnk/gthnk.conf</string>
    </dict>
    <key>StandardOutPath</key>
    <string>{{ home_directory }}/Library/Gthnk/launchd.out.log</string>
    <key>StandardErrorPath</key>
    <string>{{ home_directory }}/Library/Gthnk/launchd.err.log</string>
    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>9</integer>
        <key>Minute</key>
        <integer>0</integer>
    </dict>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/bin/open</string>
        <string>http://gthnk:1620/admin/journal/latest.html</string>
    </array>
</dict>
</plist>
