/* @import url(/static/css/gthnk-attachments.css); */

body#day-view {
    background: rgb(230, 230, 230);
}

.navbar {
    padding: .1rem 1rem !important;
}

#backdrop {
    padding-top: 2em;
    padding-bottom: 2em;
}

.image_container img {
    max-height: 600px;
}

.image_container {
    text-align: center;
    margin: 0 auto;
}

#entries {
    background: white;
    box-shadow: 1px 1px 5px #999;
    padding: 1em;
    font-family: Consolas, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
}

a.anchor {
    display: block;
    position: relative;
    top: -60px;
    visibility: hidden;
}

#day-of-week {
    text-align: right;
    font-size: small;
    font-style: italic;
}

